html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-image: url('../images/starfield.png');
  overflow: hidden;
}

.container{
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.platform {
  position: absolute;
  max-width: 200px;
  max-height: 25px;
  object-fit: contain;
  bottom: 0px;
  display: block;
  transition: all 30ms;
}

.modalcontainer {
  position: absolute;
  top: 5%;
  left: 5%;
}

.note, .note2{
  position: absolute;
  width: 20px;
  height: 120px;
}

.middleline{
  position: absolute;
  left: 50%;
  height: 100%;
  width: 10px;
  background-color: white;
}

.player1combo{
  position: absolute;
  color: white;
  bottom: 3%;
  left: 3%;
}
.player2combo{
  position: absolute;
  color: white;
  bottom: 3%;
  right: 5%;
}
.player1score{
  position: absolute;
  color: white;
  top: 3%;
  left: 40%;
}
.player2score{
  position: absolute;
  color: white;
  top: 3%;
  right: 5%;
}

.player1win {
 position: absolute;
 color: rgb(0, 0, 255);
 top: 50%;
 left: 25%;
 text-align: center;
 font-size: 3em;
}

.player2win {
  position: absolute;
  color: orange;
  top: 50%;
  left: 80%;
  text-align: center;
  font-size: 250%;
}